{% extends 'base.html' %}
{% block custom %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>

document.addEventListener('DOMContentLoaded', () => {




//Setting nickname to localStorage

    let form = document.querySelector('#form');

    form.onsubmit = (e) => {

      let nickName = document.querySelector('#nickname').value;
          localStorage.setItem('nickname', nickName);
        document.querySelector('#saludo').innerHTML = localStorage.getItem('nickname');
        document.querySelector('.container').style.display = 'block';
        $('#nickNameModal').modal('hide');
        window.location.replace("");
        return false;

    };

// Showing modal

    if(!localStorage.getItem('nickname')) {
      $('#nickNameModal').modal({
        backdrop: 'static',
        keyboard: false
      });
      document.querySelector('.container').style.display = 'none';
    } else {
            document.querySelector('.container').style.display = 'block';
      document.querySelector('#saludo').innerHTML = localStorage.getItem('nickname');
    }

// Connect to socket

var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port, { forceNew: true });


socket.on('connect',() => {




//adding new channel
  let addnewchannel = document.querySelector('#addnewchannel');
  let addForm = document.querySelector('#addform');

  addForm.onsubmit = () => {

            let newchannel = document.querySelector('#newchannel').value;
            socket.emit('emit_newchannel', {'newchannel': newchannel});
            document.querySelector('#newchannel').value = ''
            return false;
          };




});



// on socket response
socket.on('response', data => {
              let channelListUl = document.querySelector('#channellist');



              let respNewChhannel= data.resp_newchannel;

              //Validating if channel is in server

                  if (respNewChhannel == 'exist'){
                    $('.alert').show()
                  }else { //printing

                    var i, len, text;
                    for (i = 0, len = respNewChhannel.length, text = ""; i < len; i++) {
                      text += '<li class="list-group-item" ><a href="" data-room="'+respNewChhannel[i]+'" class="n-link">' + '#' + respNewChhannel[i] + '</a></li>';
                    $('.alert').hide();
                    channelListUl.innerHTML = text;

                  }

                  }



                  document.querySelectorAll('.n-link').forEach( link => {
                          link.onclick = () => {
                            load_page(link.dataset.room)
                            return false;
                          };
                        });




            });




            //loading first channel & others

            load_page('general');

            document.querySelectorAll('.n-link').forEach( link => {
                    link.onclick = () => {
                      load_page(link.dataset.room);

                      return false;
                    };
                  });

                  function load_page(roomname){
                        const request = new XMLHttpRequest();
                        request.open('GET', `/room/${roomname}`);
                        request.onload = () => {
                          const response = request.responseText;
                          document.querySelector('.display').innerHTML = response
                          document.title = '#' + roomname;
                        }
                        request.send();
                      }







}); //end of DOMContentLoaded











</script>

{% endblock %}

{% block style %}

.l-active {

  font-weight: bold;

}

 {% endblock%}


{% block title %}Flack Chat{% endblock %}

{% block body %}


<div class="container pt-3" >
	<div class="row">
    <div class="col-sm-4">
      <div class="row">
    		<div class="col-sm-12">
    			<p><span  id="profilepicture">
          <i style="font-size: 2em;" class="fas fa-user-astronaut"></i>
            </span>

    				<strong>
    					Hi <span id="saludo"></span>!
    				</strong>
    			</p>
    		</div>





    	</div>
      <div class="row">
        <div class="col-md-12">
          <h5 data-toggle="collapse" data-target="#titlechannel" style="cursor:pointer;">Channels <i class="fas fa-chevron-down" style="font-size:0.6em; "></i></h5>

          <div id="titlechannel" class="collapse pb-5">
            <div class="alert alert-warning alert-dismissible fade show" style="display:none;" role="alert">
        Channel already exists.
        <button type="button" class="close" onclick="$('.alert').hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
            <form action="" id="addform" class="pb-2">
              <div class="input-group">
                <div class="input-group-prepend pr-1  col-12 col-md-9" style="padding-left:0;">
                  <input type="text" class="form-control" id="newchannel" name='newchannel' placeholder="New channel" required>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-sm col-12 col-md-3 mt-1 mt-md-0 " id="addnewchannel">Add</button>

              </div>
            </form>

            <ul class="list-group mb-2" id="channellist" style="max-height:15em"  >
              {% for channel in channel_list %}
                  <li class="list-group-item"><a href="" data-room="{{channel}}" class="n-link">#{{channel}}</a></li>
              {% endfor %}
            </ul>



          </div>

          <div class="test">

          </div>


        </div>
      </div>
    </div>
    <div class="col-sm-8">
        <div class="display"></div>
    </div>
  </div>
</div>
<div class="modal fade" id="nickNameModal" tabindex="-1" role="dialog" aria-labelledby="nickNameModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h1 class="modal-title" id="nickNameModal">Flack Chat</h1>
			</div>
			<form action="" id='form' method="post">
				<div class="modal-body">
					<div class="form-group">
						<label for="nickname">Let's start choosing a good Nickname:</label>
						<input type="text" class="form-control" id="nickname" name='nickname' placeholder="nickname" required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" id="chat">Chat!</button>
					</div>
				</form>
			</div>
		</div>



{% endblock %}
